<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zilansw.zilanshop.dao.ZGoodsDao">
  <resultMap id="BaseResultMap" type="com.zilansw.zilanshop.pojo.ZGoods">
    <id column="gid" jdbcType="INTEGER" property="gid" />
    <result column="gtypeid" jdbcType="INTEGER" property="gtypeid" />
    <result column="gname" jdbcType="VARCHAR" property="gname" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="gdetail" jdbcType="LONGVARCHAR" property="gdetail" />
  </resultMap>
  <sql id="Base_Column_List">
    gid, gtypeid, gname, price, create_time, `status`.`gdetail`
  </sql>
</mapper>